/* @import "~react-screen-orientation/src/index"; */

body {
  zoom: 90%;
  height: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: rgb(243, 249, 255);
  /* background: rgb(219, 233, 249); */
  min-height: 111vh;
}


div.title-header {
  position: fixed;
  width: 112vw;
  top: 0;
  z-index: 1;
  background: #fff;
}


div.styleBgsite {
  background: linear-gradient(131deg, rgba(0, 189, 255, 1) 0%, rgba(49, 77, 254, 1) 52%, rgba(1, 29, 231, 1) 98%);
}


div.row-main {
  background: rgb(243, 249, 255);
  position: relative;
  top: 50px;
  /* min-height: 111vh; */
  /* width: 100vw; */
  margin: 0;
}

div.card-body.card-planing {
  background: rgba(255, 255, 255, 0.973);
  transition: 0.4s;
}

div.card-body.card-planing:hover {
  background: #fff;
}

div.row-planing div.col,
div.row-planing div.col-sm-1 {
  padding: 0.2rem;
  border-right: solid 2px;
  border-color: rgb(232, 252, 255);
}

div.row-planing div:nth-child(1) {
  text-align: center;
  font-size: 0.8rem;
  /* background: red; */
}

div.row-planing div:nth-child(2) {
  text-align: center;
}

table.tbl-qc-planning {
  margin-bottom: 0;
}

table.tbl-qc-planning tr td {
  padding: 0.25rem;
  padding-top: 0.1rem;
  border-bottom: 0;
  border-right: 1px rgba(126, 124, 124, 0.721) solid;
  text-align: center;
}

table.tbl-qc-planning tr td.noborder {
  border-right: 0;
  width: 62px;
  max-width: 62px;
}

table.tbl-qc-planning tr.headerplan:nth-child(1) {
  font-weight: bold;
  font-size: 0.8rem;
}

/* 
table.tbl-qc-planning tr td:nth-child(n+7):nth-child(-n+9) {
  width: 55px;
} */

table.tbl-qc-planning tr td:nth-child(n+5):nth-child(-n+6) {
  width: 38px;
}

/* for buyer colomn wrap  */
table.tbl-qc-planning tr td:nth-child(1) {
  width: 62px;
  max-width: 62px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.tbl-qc-planning tr td:nth-child(2) {
  width: 122px;
  max-width: 122px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.tbl-qc-planning tr td:nth-child(3) {
  width: 296px;
  max-width: 296px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.tbl-qc-planning tr td:nth-child(4) {
  width: 180px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.tbl-qc-planning tr td:nth-last-child(1) {
  width: 62px;
  max-width: 62px;
}

table.tbl-qc-planning tbody tr.headerplan {
  line-height: 1rem;
}

table.tbl-qc-planning tr.headerplan:nth-child(2) {
  font-size: 0.9rem;
}

table.tbl-qc-detail thead tr th,
table.tbl-qc-detail tbody tr td {
  /* padding: 0.rem; */
  font-size: 0.8rem;
}

button.btn-input {
  background: rgb(0, 189, 255);
  background: linear-gradient(121deg, rgba(0, 189, 255, 1) 9%, rgba(50, 81, 250, 1) 51%, rgba(21, 57, 252, 1) 100%);
  border: none;
}

button.btn-transfer {
  background: rgb(249, 172, 79);
  background: linear-gradient(121deg, rgb(255, 174, 0) 9%, rgb(250, 153, 50) 51%, rgb(232, 127, 0) 100%);
  border: none;
}

svg.icon-completed {
  color: linear-gradient(121deg, rgba(89, 250, 86, 1) 9%, rgba(0, 153, 21, 1) 76%);
}

table tbody tr td svg {
  transition: all 0.5s ease;
}

table tbody tr td svg.opened {
  transform: rotateX(180deg);
  transition: all 0.5s ease;
}

div.row-planed {
  display: none;
  overflow: hidden;
  transition: 3s ease-out;
}

div.row-planed.opened {
  overflow: hidden;
  transition: 3s ease-out;
  display: block;
}

div.fade.modal-backdrop.show {
  width: 100%;
  height: 100%;
}

div.fade.offcanvas-backdrop.show {
  height: 100%;
}

div.fade.mainmodal.modal.show {
  padding-left: 0 !important;
}

div.fade.mainmodal.modal.show div.modal-dialog.modal-fullscreen {
  width: 100%;
  height: 100%;
}

div.fade.modaltransfer.modal.show {
  padding-left: 0 !important;
}

div.fade.modaltransfer.modal.show div.modal-dialog.modal-fullscreen {
  width: 100%;
  height: 100%;
}



#flash-box {
  top: 50px;
}

div.main-content-input {
  height: 92vh;
}

button.btn svg.undo-btn {
  transform: rotate(-30deg);
}

div.good-btn {
  background: rgb(37, 194, 48);
  background: linear-gradient(130deg, rgba(37, 194, 48, 1) 7%, rgba(57, 224, 54, 0.8155637254901961) 47%, rgba(0, 153, 21, 1) 87%);
}

div.btn-bs {
  background: rgb(194, 37, 37);
  background: linear-gradient(130deg, rgba(194, 37, 37, 1) 0%, rgba(246, 92, 92, 0.8155637254901961) 21%, rgba(207, 4, 4, 1) 71%);
}

div.btn-repaird {
  background: rgb(37, 124, 194);
  background: linear-gradient(130deg, rgba(37, 124, 194, 1) 5%, rgba(79, 157, 244, 0.8155637254901961) 24%, rgba(4, 103, 207, 1) 77%);
}

div.btn-defect {
  background: rgb(240, 188, 53);
  background: linear-gradient(130deg, rgba(240, 188, 53, 1) 7%, rgba(255, 222, 32, 0.8883928571428571) 47%, rgba(218, 179, 0, 1) 87%);
}

div#root div#flash-box {
  z-index: 1066 !important;
}

div.def-checked {
  height: 2rem;
  width: 2rem;
  margin: auto;
  border: 1px solid rgb(215, 214, 214);
  border-radius: 10%;
}

div.def-checked.selected {
  border: 1px solid rgb(0, 213, 255);
  background-color: rgb(0, 153, 255);
}

tr.listqrview {
  display: none;
  transition: all 0.5s ease;
}

tr.listqrview.shows {
  display: table-row;
  transition: all 0.5s ease;
}

div.div-contain-menu {
  height: 80vh;
  background: rgb(240, 240, 240);
}

.bg-ylw {
  background: rgba(255, 180, 89, 0.801);
  background: linear-gradient(121deg, rgba(255, 174, 0, 0.616) 9%, rgba(250, 153, 50, 0.671) 51%);
  border: none;
}

.bg-blue {
  background: rgb(37, 124, 194);
  background: linear-gradient(90deg, rgba(37, 123, 194, 0.836) 5%, rgba(79, 157, 244, 0.8155637254901961) 24%);
}



div.bg-maeasur-inpt {
  height: 100%;
  width: 100%;
  background: #58585875;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

div.mdl-input-measure {
  height: 33%;
  width: 95%;
  background: #fff;
  top: 30%;
  left: 2.5%;
  /* text-align: center; */
  border-radius: 20px;
  padding: 1rem;
  position: absolute;
  border: 1px solid #cbcbcb;
  box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.61);
  visibility: hidden;
  transition: all 0.3s ease;
}

div.bg-maeasur-inpt.show {
  visibility: visible;
  transition: ease-in-out;
  transition: all 0.4s ease;
}

div.mdl-input-measure.show {
  top: 35%;
  visibility: visible;
  transition: ease-in-out;
  transition: all 0.4s ease;
}

table tr th.bg-seq {
  background: #b8b8b8;
}